body {
  font-family: 'Times New Roman', Times, serif;
  min-width: 400px;
  text-align: center;
  margin-top: 100px;
  background-image: url('5160549.jpg');
  background-repeat: no-repeat;
  margin: 0;
}

img {
  width: 350px;
  height: 290px;
}

.box {
  background-color: rgba(120, 48, 187, 0.747);
  width: 350px;
  height: 290px;
  margin-left: auto;
  margin-right: auto;
}

.back {
  background-color: rgba(238, 229, 231, 0.822);
  background-size: 400px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  padding: 10px;
}

p {
  margin-top: 10px;
}

button {
  padding: 4px;
  min-width: 120px;
  border: none;
  font-weight: bold;
  background-color: rgba(120, 48, 187, 0.747);
  color: #fff;
}
button:hover {
  background-color: rgba(236, 122, 141, 0.705);
}

button:active {
  transform: translateY(2px);
}

.pik {
  margin-top: 3px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
